body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEMtqpxUilzOEnEeouvBdUyaPa88fbGy9epw&usqp=CAU");
  /* background-color: rgb(165, 70, 255); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
.container {
  margin-top: 100px;
  background-color: white;
  border-radius: 7px;
}
form.signup,
form.login {
  margin-top: 50px;
}
.form-group {
  margin: 0px;
}
.form-control{
  border-radius: 100px;
  padding: 28px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(226, 226, 226);
}

/* Login Page */
#login-page {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEMtqpxUilzOEnEeouvBdUyaPa88fbGy9epw&usqp=CAU");
  /* background-color: rgb(165, 70, 255); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#login-container {
  padding: 100px;
  padding-bottom: 10px;
  width: 60%;
}
#user-login-img {
  position: relative;
  overflow: hidden;
  border-radius: 70%;
  margin-top: 28%;   
}
.infoForm-group {
  font-size: 20px;
  color: white;
  font-weight: 300px;
}
.navbar {
  background-color: white;
}
h2 {
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  color:  rgb(55, 45, 61)

}
#login-btn {
  width: 100%;
  background-color: rgb(253, 108, 82);
  font-size: 15px;
  padding: 12px;
  border-radius: 100px;
  color: white;
  margin-top: 30px;
}

/* Signup Page */
#signup-page, #resetPass-page {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEMtqpxUilzOEnEeouvBdUyaPa88fbGy9epw&usqp=CAU");
  /* background-color: rgb(165, 70, 255); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#signup-container {
  width: 60%;
  padding-top: 30px;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
}
#signup-btn, #reset-btn {
  width: 30%;
  background-color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 15px;
  margin-top: 45px;
  border-radius: 100px;
  color: white;
}
.mt-10 {
  margin-top: 10px;
}

/* Members Page */
.sidebar {
  background-color: white;
}

#welcome-user {
  color: white;
}

.container-members {
  margin-left: 100px;
}

#clientList {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}
#allClientsInfo {
  height:500px;
  width:100%px;
  border:1px solid rgb(133, 133, 133);
  border-radius: 7px;
  background-color: rgb(247, 244, 244);
  font-size:20px;
  overflow:auto;
}
.contact-btn{
  width: 100%;
  background-color: rgb(218, 218, 218);
}

#addClient, #clientList {
  background-color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 15px;
  border-radius: 7px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Reset password Page */
#resetPass-container {
  text-align: center;
  padding: 100px;
  width: 60%;
}


