body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin-top: 100px;
  background-color: white;
  border-radius: 7px;
}
form.signup,
form.login {
  margin-top: 50px;
}
.form-group {
  margin: 0px;
}
.form-control{
  border-radius: 100px;
  padding: 28px;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(231, 229, 229);
}

/* Login Page */
#login-page {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEMtqpxUilzOEnEeouvBdUyaPa88fbGy9epw&usqp=CAU");
  /* background-color: rgb(165, 70, 255); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#login-container {
  padding: 100px;
  padding-bottom: 10px;
  width: 60%;
}
.filter-image {
  text-align: center;
  max-width: 100%;
}
#user-login-img {
  margin-top: 30%; 
    
}
.infoForm-group {
  font-size: 20px;
  color: white;
  font-weight: 300px;
}
.navbar {
  background-color: white;
}
h2 {
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  color:  rgb(55, 45, 61)

}
#login-btn {
  width: 100%;
  background-color: rgb(253, 108, 82);
  font-size: 15px;
  padding: 12px;
  border-radius: 100px;
  color: white;
  margin-top: 30px;
}

/* Signup Page */
#signup-page, #resetPass-page {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQEMtqpxUilzOEnEeouvBdUyaPa88fbGy9epw&usqp=CAU");
  /* background-color: rgb(165, 70, 255); */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}
#signup-container {
  width: 60%;
  padding-top: 30px;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
}
#signup-btn {
  width: 30%;
  background-color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 15px;
  margin-top: 45px;
  border-radius: 100px;
  color: white;
}
.mt-10 {
  margin-top: 10px;
}

/* Members Page */
.navbar {
  background-color: rgb(103, 10, 190);
}
.navbar-brand{
  color: aliceblue;
}
.content-right {
  float: right;
}
#members-page, #newClient-page, #clientInfo-page {
  background-color: rgb(255, 255, 255);
}
.jumbotron {
  padding: 10px;
  background-color: rgb(247, 244, 244);
}
#searchBox {
  border-radius: 80px;
  padding: 10px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  background-color: rgb(226, 226, 226);
}
#searchSubmit {
  background-color: white;
  border: none;

}
.sidebar {
  background-color: white;
  border: rgb(55, 45, 61);
}
.badge {
  color: aliceblue;
  background-color: rgb(253, 108, 82);
}
#addClient, #addsomething {
  color:  rgb(253, 108, 82);
  background-color: white;
  border: none;
} 
#welcome-user {
  color: rgb(74, 9, 134);
}

.container-members {
  margin-left: 0px;
}

#clientList {
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}
#allClientsInfo {
  height:500px;
  width:100%;
  border-radius: 7px;
  background-color: rgb(247, 244, 244);
  font-size:20px;
  overflow:auto;
}
.contact-btn{
  width: 100%;
  background-color: rgb(218, 218, 218);
}

#clientList {
  background-color:  rgb(103, 10, 190);
  font-size: 20px;
  padding: 15px;
  border-radius: 7px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
tr {
  color: rgb(219, 219, 219);
  background-color:  rgb(103, 10, 190);
}
#clientTable {
  background-color: rgb(219, 219, 219);
  color: rgb(74, 9, 134);
}

/* Reset password Page */
#resetPass-container {
  text-align: center;
  padding: 100px;
  width: 60%;
}
#reset-btn {
  width: 50%;
  background-color: rgb(48, 48, 48);
  font-size: 20px;
  padding: 15px;
  margin-top: 45px;
  border-radius: 100px;
  color: white;
}

/* Client Info Page */
#noteBody {
  border-radius: 10px;
  border: none;
  background-color:  rgb(247, 244, 244);
  padding: 10px;
}
#noteSubmit {
  border-radius: 10px;
  border: none;
  background-color: rgb(253, 108, 82);
  margin-top: 15px;
  color: white;
  padding: 10px;
}
#contactBtn, #delClient {
  border-radius: 10px;
  border: none;
  background-color: rgb(253, 108, 82);
  margin-top: 15px;
  color: white;
  padding: 10px;
}
.note-container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}
.time-right {
  float: right;
  color: #aaa;
}

/* Add Client Page */
#jumbo-addClient {
  color: rgb(74, 9, 134);
}
#jumboclient-btn {
  background-color: rgb(253, 108, 82);
}
#newClient-container {
  width: 100%;
  margin: 0px;
  padding-top: 0px;
  padding-right: 180px;
  padding-left: 180px;
  padding-bottom: 50px;
  text-align: center;
}

#newclient-btn {
  border-radius: 100px;
  background-color: rgb(253, 108, 82);
  color: white;
  margin-top: 20px;
  padding: 10px;
}

/* Contact Page */ 
#contactForm-container {
  border-radius: 10px;
  border: rgb(231, 229, 229);
  padding: 10px;
}
#text-area-control {
  border-radius: 10px;
  border: none;
  background-color:  rgb(247, 244, 244);
  padding: 10px;
}
#sendMsg {
  border-radius: 100px;
  background-color: rgb(253, 108, 82);
  color: white;
  margin-top: 20px;
  padding: 10px;
}

/* Container for flexboxes */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create four equal columns */
.column {
  flex: 50%;
  padding: 20px;
}


@media screen and (max-width: 1400px) {
  #signup-btn {
    width: 50%;
  }
}

/* On screens that are 1024px wide or less, go from four columns to two columns */
@media screen and (max-width: 1024px) {
  .column {
    flex: 50%;
  }
  .row {
    flex-direction: column;
  }
  #login-container {
    padding: 10px;
    padding-bottom: 10px;
    width: 90%;
  }
  #user-login-img {
    margin-top: 5%; 
    padding: 20px;  
  }
  #signup-container, #newClient-container {
    padding-top: 10px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 15px;
  }
  #signup-btn {
    width: 100%;
  }
}


@media screen and (max-width: 920px) {
  .row {
    flex-direction: column;
  }
  #login-container {
    padding: 40px;
    padding-bottom: 10px;
    width: 90%;
  }
  #user-login-img {
    margin-top: 5%; 
    padding: 50px;  
  }
  #signup-container, #newClient-container {
    padding-top: 10px;
    padding-right: 45px;
    padding-left: 45px;
    padding-bottom: 15px;
  }

}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 540px) {
  .row {
    flex-direction: column;
  }
  #login-container {
    padding: 10px;
    padding-bottom: 10px;
    width: 90%;
  }
  #user-login-img {
    margin-top: 5%; 
    padding: 20px;  
  }
}